<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gourmet Burgers</title>
    <meta name="author" content="Duowei Sun (z5174073), Dean Hou (z5163159), Siyang Wang (z3254606)">
    <meta name="description" content="Team Name: Trinity Force">
    <style>
    .topnav {
        overflow: hidden;
        background-color: #333;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    } 
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }
    </style>
</head>

<body>

<!-- Tab Menu -->
<div class="topnav">
    <a href="{{ url_for('checkout') }}">Home</a>
</div>
<br>
<!-- Message -->
<div>
    
    <h1>Thanks for your order!</h1>
    <h2>Order id: {{order.id}}</h2>
    <h2>Total Price: {{order.net_price}}</h2>
    <h2>Status: {{order.status}}</h2>
</div>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in order.items %}
        <tr>
            <td>item.name</td>
            <td>item.ingredients</td>
            <td>item.quantity</td>
            <td>item.price</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>