{% extends 'user_base.html' %}
{% block body %}
<!--
Here are some HTML tags you might find useful:

  Form:               <form method="POST"></form>
  Input field:        <input name="field_name" value="placeholder string"/>
  Readonly field:     ??? (figure it out yourself)

  Section:            <div></div>
  Newline:            <br>
  Red text:           <font size="3" color="red">ERROR MESSAGE</font> 
  Submit button:      <button name="button_name" type="submit">Say Hi!</button>
-->
<h1>Mains</h1>

<h2>Burger</h2>
<!--show default with option to customise-->
<!-- if customise loop through mains items -->
<!--pressing add to order at anytime exits page-->
<form name="burger_menu", method="POST">
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td>Burger1</td>
            <td>$1.30</td>
            <td>
                <input name='q1' type="number" min="0"/>
            </td>
        </tr>
    </table>
    <button type='submit' name='order_button' value='order'>Add to Order</button>
</form>
<!-- if burger item
	for ingredient in burger_ingredients
        ingredient name
        ingredient price
        options
        if error print errors-->

{% endblock %}