{% extends 'user_base.html' %}
{% block body %}
<h1>Mains</h1>

<h2>Burger</h2>
<!--show default with option to customise-->
<!-- if customise loop through mains items -->
<!--pressing add to order at anytime exits page-->
<form name="burger_menu", method="POST">
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for item in ingredients %}
        <tr>
            <td> {{ item }} </td>
            <td> Price </td>
            <td><input name='{{ item }}' type="number" min="0"/></td>
        </tr>
        {% endfor %}
    </table>
    <button type='submit' name='order_button' value='order'>Add to Order</button>
</form>
<!-- if burger item
	for ingredient in burger_ingredients
        ingredient name
        ingredient price
        options
        if error print errors-->

{% endblock %}