{% extends 'user_base.html' %}
{% block body %}
<!--
Here are some HTML tags you might find useful:

  Form:               <form method="POST"></form>
  Input field:        <input name="field_name" value="placeholder string"/>
  Readonly field:     ??? (figure it out yourself)

  Section:            <div></div>
  Newline:            <br>
  Red text:           <font size="3" color="red">ERROR MESSAGE</font> 
  Submit button:      <button name="button_name" type="submit">Say Hi!</button>
  <li><a href="{{ url_for('main_burger') }}">Burger</a></li>
    <li><a href="{{ url_for('main_wrap') }}">Wrap</a></li>
-->
<h1>Mains</h1>
<!--select bruger or wrap to add to order, leads to -->

<form name="mains_menu", method="POST">
    <table>
        <tr>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Price</th>
            <th>Order</th>
        </tr>
        {% for item in mains %}
        <tr>
            <td> {{ item.name }} </td>
            {% if not item.ingredients %}
                <td>Custom</td>
                <td>Custom </td>
            {% else %}
                <td>
                {% for key, value in item.ingredients.items() %}
                    {{ key }} : {{ value }};
                {% endfor %}
                </td>
                <td> ${{ '%0.2f'| format(item.price|float)}} </td>
            {% endif %}
            
            <td>
                <button type='submit' name='{{ item.name }}' value='{{ item.name }}'>Add to Order</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</form>

{% endblock %}