{% extends 'staff_base.html' %}
{% block body %}

<h1>Drinks</h1>

<form name="drinks_menu", method="POST">
    <table>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Refill</th>
        </tr>
        {% for item in drinks %}
        <tr>
            <td> {{ item.name }} </td>
            <td> {{ item.stock_quantity }} </td>
            <td><input name='{{ item.name }}' type="number" min="0"/></td>
        </tr>
        {% endfor %}
    </table>
    <button type='submit' name='refill_button' value='refill'>Refill</button>
</form>
{% endblock %}