<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gourmet Burgers</title>
    <meta name="author" content="Duowei Sun (z5174073), Dean Hou (z5163159), Siyang Wang (z3254606)">
    <meta name="description" content="Team Name: Trinity Force">
</head>

<body>

<!-- Tab Menu -->
<div>
    <a href="{{ url_for('user_home') }}">Home</a>
    <a href="{{ url_for('mains') }}">Mains</a>
    <a href="{{ url_for('sides') }}">Sides</a>
    <a href="{{ url_for('drinks') }}">Drinks</a>
    <a href="{{ url_for('user_order') }}">My Order</a>
    <a href="{{ url_for('checkout') }}">Checkout</a>
</div>

<br>

<!-- Main Content -->
{% block body %}{% endblock %}

</body>
</html>